export EMAIL_TOKEN=577c1771af41bb1295da9b3c1f40b0f1
export SMTP_HOST=sandbox.smtp.mailtrap.io
export SMTP_PORT=2525
export SMTP_USERNAME=8aeb2a3488699a
export SMTP_PASSWORD=046a4da7eb68ca
export SMTP_SENDER="shaxbozakramovic@gmail.com.com"
export SERVER_PORT="9000"